.carousel_container{
    background-color: black;
    height: 100%;
    position:relative;
}
.carousel_image{
    background-color:#00aced;
    width: 100%; 
    height: fit-content;
    object-fit: cover;
}
.carousel_content{
    padding:0;
    margin: 0;
    list-style: none;
    position: relative;
}
.carousel_slide{
    position: absolute;
    top:0;  
    bottom:0;
    width: 100%;
}

.carousel{
    position: relative;
    height: 300px;
    width: 60%;
    margin: 0 auto;
}
.carousel_button{
    position: absolute;
    top:80%;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.right_nav{
    right: -1px;
    z-index: 5;
}

.carousel_button img{
    width: 82px;
}
